html { height: 100%; }

body { margin: 0; height: 100%; }

.firepad {
  position: absolute; left: 0px; top: 50px; bottom: 0; right: 0; height: auto;
}

a.powered-by-firepad {
  visibility: hidden;
}

.square
  display inline-block
  width 32px
  height 32px
  background-color #C0C0C0 
  border-top-style solid
  border-top-width 1px
  border-radius 4px
  margin-top 8px
  margin-left 5px
