doctype 5
html
    head
        title Yale Classified
        link(rel='stylesheet', href="/css/main.css")
        link(href='http://fonts.googleapis.com/css?family=Raleway:200', rel='stylesheet')

    body
        div(class="container fillscreen_div_1")
            .fillscreen_div_1
                .vcentered_element
                    h1.thin_header Welcome to Quipu
                    p.short_paragraph(align="middle")
                        | Quipu is a tool to help Yalies make study groups.
                        | Meet up with other students in your classes,
                        | share notes with friends,
                        | or ask questions online.
                    p <a class="btn btn-primary btn-lg", href="/auth/", role="button">Login with CAS</a>