doctype 5
html
    head
        title Splash Screen
        link(rel='stylesheet', href="/css/main.css")

    body
        .container
           p This is the slash screen. Click <a href="/auth/">here</a> to try it out.
