doctype 5
html
    head
        title Yale Classified
        link(rel='stylesheet', href="/css/main.css")
        link(href='http://fonts.googleapis.com/css?family=Raleway:200', rel='stylesheet')

    body
        div(class="container fillscreen_div_1")
            nav(class="navbar navbar-default", role="navigation")
                div(class="nocolor_div container-fluid")
                    div(class="collapse navbar-collapse")
                        div(class="nav navbar-nav")
                            ul(class="nav navbar-nav")
                                li <a href="#">About</a>
                                li <a href="#">Contact</a>
            .fillscreen_div_1
                .vcentered_element
                    h1.thin_header Welcome to Yale Classified
                    p.short_paragraph(align="middle")
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipisicing elit, sed do eiusmod tempor
                        | incididunt ut labore et dolore magna aliqua.
                        | Ut enim ad minim veniam, quis nostrud exercitation.
                    p <a class="btn btn-primary btn-lg", href="/auth/", role="button">Login with CAS</a>
        div(class="lower_red_div fillscreen_div container")
            .hcentered_element
                .container
                    h1.thin_header A tool to foster cooperation among Yalies
                    p.short_paragraph
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit,
                        | sed do eiusmod tempor incididunt ut labore
                        | et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation.
                    hr.half-rule
                    div.row
                        .col-sm-4
                            img(src="/img/get_work_done.jpg", class="medium_img", align="middle")
                            h3 Get work done!
                            p Find yalies in your class. Connect. Discuss about your assignments.
                        .col-sm-4
                            img(src="/img/students_studying_outside.jpg", class="medium_img", align="middle")
                            h3 Form study groups
                            p Find yalies in your class. Connect. Discuss about your assignments.
                        .col-sm-4
                            img(src="/img/finals.jpg", class="medium_img", align="middle")
                            h3 Prepare for finals
                            p Find yalies in your class. Connect. Discuss about your assignments