doctype 5
html(ng-app="App")
    head
        title Quipu

        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(src='/js/vendor.js')
        script(src='https://cdn.firebase.com/v0/firebase.js')
        script(src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js')
        script(src='/js/main.js')
        script(src='/js/app.auth.templates.js')

        link(rel='stylesheet', href="/css/main.css")

    body
        div(ng-controller="GroupCtrl").leftbar
            include group.jade
        .rightcontent
            div(ng-view)
        .options(ng-controller="PrefCtrl")
            //- need to add log out and about options
            a.spaced(ng-click="about()") About
            a.spaced(ng-click="setupUser()") Preferences
            a.spaced(ng-click="logout()") Log out

        script(type="text/ng-template", id="askId")
            div.modal-header
                h3 User Information
            div.modal-body
                button(class="btn btn-primary", ng-click="fbLogin()") Connect with Facebook
                form(class="navbar-form", ng-submit="dismiss()")
                    input(type="text", ng-model="me.name", placeholder="Full name", class="form-control")
                div.well(file-dropzone="[image/png, image/jpeg, image/gif]", file="image.unscaled", file-name="imageFileName", data-max-file-size="2")
                    span(ng-if="!me.image") Drop Image Here
                    img(ng-if="me.image", ng-src="{{me.image}}")
            div.modal-footer

        script(type="text/ng-template", id="aboutId")
            div.modal-header
                h3 About Quipu
            div.modal-body
                p Quipu is awesome and made by us.
                button(class="btn btn-default", ng-click="dismiss()") Cool
            div.modal-footer