doctype 5
html(ng-app="tester")
    head
        title Test App
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js')
        script(src='https://cdn.firebase.com/v0/firebase.js')
        script(src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js')
        script(src='/static/js/vendor.js')
        script(src='/static/js/main.js')

    body
        div(ng-controller='TestCtrl')
            div(ng-repeat="msg in messages")
                div {{msg.body}}
            form(ng-submit="submit()")
                input(type="text", ng-model="message", placeholder="Type a Message", class="form-control")