tabset.leftcontent
    tab(heading="Chat")
        div(ng-controller="ChatCtrl")
            .down
                include chat
    tab(heading="Members")
        div(ng-controller="MembersCtrl")
            .down
                include members
    tab(heading="Files")
        div(ng-controller="FilesCtrl")
            .down
                include files
.rightbar(ng-controller="EventsCtrl")
    include events