tabset
    tab(heading="Chat")
        div(ng-controller="ChatCtrl")
            include chat
    tab(heading="Members")
        div(ng-controller="MembersCtrl")
            include members
    tab(heading="Files")
        div(ng-controller="FilesCtrl")
            include files
div(ng-controller="EventsCtrl")
    include events