.options
    position absolute
    bottom 10px
    right 10px

.spaced
    margin-left 10px

.leftbar
    position absolute
    left 0px
    bottom 0px
    top 0px
    width 15%

.rightcontent
    float right
    position relative
    width 85%
    min-height 500px

.rightbar
    position absolute
    right 0px
    top 0px
    bottom 0px
    width 20%

.leftcontent
    float left
    position relative
    width 80%
    padding-top 10px

.down
    padding-top 10px

.dropbox
    border 1px dashed
    padding 7px
    text-align center
    color gray

.smaller
    font-size small