tabset.leftcontent
    tab(heading="Chat")
        div(ng-controller="ChatCtrl")
            .down(ng-include="'app/auth/chat.jade'")
    tab(heading="Members")
        div(ng-controller="MembersCtrl")
            .down(ng-include="'app/auth/members.jade'")
    tab(heading="Files")
        div(ng-controller="FilesCtrl")
            .down(ng-include="'app/auth/files.jade'")
.rightbar(ng-controller="EventsCtrl")
    ng-include(src="'app/auth/events.jade'")