div(ng-repeat="msg in messages")
   div <em>{{msg.netid}}</em>: {{msg.body}}
form(ng-submit="submit()")
   input(type="text", ng-model="message", placeholder="Type a Message", class="form-control")
button(class="btn", ng-click="setupUser()") Configure your Information

script(type="text/ng-template", id="askId")
    div.modal-header
        h3 This is where users configure stuff
    div.modal-body
        button(class="btn btn-primary", ng-click="fbLogin()") Connect with Facebook
        form(class="navbar-form", ng-submit="dismiss()")
            input(type="text", ng-model="me.name", placeholder="Full name", class="form-control")
        div(file-dropzone="[image/png, image/jpeg, image/gif]", file="image.unscaled", file-name="imageFileName", data-max-file-size="2")
            span(ng-if="!me.image") Drop Image Here
            img(ng-if="me.image", ng-src="{{me.image}}")
    div.modal-footer