div.container(ng-if="numGroups == 0")
  .jumbotron.nogroups
    h1 <small> You don't have any groups yet </small>
    p Search for a class to get started
span.nowrap.fullheight
  div.eventTile.panel.panel-default(ng-repeat="group in groups")
    div.panel-heading
      h3.panel-title {{names[group].$value}}
    div.panel-body
      h2(ng-if="groupEvents[group].$getIndex().length == 0")
        small No scheduled events
      .well.mywell(ng-repeat="event in groupEvents[group] | orderByPriority",
        ng-style="{'background-color': getColor($index)}")
          span {{event.message}}
