/*.head-true
    color #001F3F
    font-weight bold*/
div.e:hover
    background-color #DDDDDD
    color #000080

.sel
    background-color #0074D9
    color white

.chat-container
    height 90%
    overflow-y scroll

.children
    margin-left 20px
