//- div(ng-controller="ChatCtrl")
//-     div.list-group(ng-repeat="cmtchain in chains", style="width : 200px; float: left", ng-click="focus.chain = cmtchain")
//-         em
//-             strong
//-                 li.list-group-item {{cmtchain.head.content}}
//-                 li.list-group-item {{cmtchain.head.user}}
//-                 li.list-group-item {{cmtchain.head.date}}
//-         div(ng-repeat="tail in cmtchain.tail  | filter: commentSearch()")
//-             li.list-group-item {{tail.content}}
//-             li.list-group-item {{tail.user}}
//-     form(style="clear: both")
//-         input(type="text", ng-model="textBox", size="100", placeholder="poo")
//-         input(type="button", class="btn btn-primary", type="submit", value="toggle", ng-click="toggle()")
//-             span Toggle Search
//-         input(type="button", class="btn btn-primary", type="submit", value="add comment", ng-click="addComment()")
//-         input(type="button", class="btn btn-primary", type="submit", value="new comment", ng-click="newComment()")
//-         input(type="button", class="btn btn-primary", type="submit", value="cancel comment", disabled)
//-     div.error(ng-model="error") {{error}}
//-     //- div {{focus.chain}}
//-     //- div {{toggled}}
//-     //- div {{"My name is: " + stuff.netid}}

div(ng-controller="ChatCtrl")
    //- div {{groupChats}}
    div.list-group(ng-repeat="(chatid, chatmessages) in groupChats", 
        ng-click="select($index, chatid)", ng-class="{sel: $index == props.index}")
        //div {{"chat_id: " + chatid}}
        //div{{"index: " + $index}}
        div(class="head-{{$first}}", ng-repeat="(messid, message) in chatmessages")
            div 
                H4 {{message.content}} 
                p {{message.name}}  {{renderDate(message.date)}}
            //div {{message.netid}}
    form
        input(type="text", ng-model="textBox", size="100", placeholder="new chat")
        //- input(type="button", class="btn btn-primary", type="submit", value="toggle", ng-click="toggle()")
            span Toggle Search
        input(type="button", class="btn btn-primary", value="reply", ng-click="newMessage(makeChatRef(props.selChatID))")
        input(type="button", class="btn btn-primary", type="submit", value="new chat", ng-click="newChat()")
        //- input(type="button", class="btn btn-primary", type="submit", value="cancel comment", disabled)
    //div {{"selected_id: " + props.selChatID}}
    //- em {{props.selChatID}}
    //div {{"index: " + props.index}}
