div(ng-controller="ChatCtrl")
    div.chat-container(ng-init="isCollapsed = []")
        div.list-group.e(ng-repeat="chat in arrChats | filter: search(textBox)", ng-init="isCollapsed.push(true)",
            ng-class="{sel: $index == props.index}")
            div(ng-repeat="(key, message) in chat")
                div(collapse="!($first) && isCollapsed[$parent.$index]", ng-class="{children: !$first}", 
                    ng-dblClick="select($parent.$index)", sglclick="isCollapsed[$parent.$index] = !isCollapsed[$parent.$index]")
                    H4 {{message.content}} 
                    p {{message.name}}  {{renderDate(message.date)}}
                    p(ng-if="$first && replyCount(chat) > 0") {{"replies: " + replyCount(chat)}}
                    hr
    form(name="textForm", novalidate)
        div.form-group(ng-class="{'has-error' : (textForm.text.$invalid && !textForm.text.$pristine) || props.error}")
            input.form-control(type="text", id='chatfield', name="text", ng-model="textBox", size="100", placeholder="new chat", required)
            p.help-block(ng-show="(textForm.text.$invalid && !textForm.text.$pristine) || props.error") text is required!
