.well.mywell(ng-repeat='event in events | orderByPriority', ng-dblClick="editEvent(event)", sglclick="showInfo()", ng-style="{'background-color': getColor($index)}")
  span(ng-if="event.$id != mostRecent") {{event.message}}
  form.form-inline(ng-show="event.$id == mostRecent")
    textarea.form-control.myinput(sync-focus-with="event.$id == mostRecent",
      ng-model="event.message", ui-keypress="{13:'closeMe(event)'}")
div(ng-dblClick="newEvent()").adder
  div Double click to create an event
