.mywell
  background-image none
  margin-top 10px
  margin-bottom 10px
  cursor pointer

.myinput
  width 100% !important

.adder
  height auto
  width 100%
  cursor pointer

.opts
  margin-top 5px

.optshead
  font-weight bold

.minisquare
  display inline-block
  padding 3px

.noevents
  margin-top 65%
  margin-bottom 15px
