.mywell
  background-image none
  margin-top 10px
  margin-bottom 10px
  cursor pointer
  text-overflow ellipses
  overflow hidden

.myinput
  width 100% !important

.adder
  height auto
  width 100%
  cursor pointer

.opts
  margin-top 5px

.optshead
  font-weight bold

.minisquare
  display inline-block
  padding 3px

.eventscroll
  max-height 84vh
  // overflow-y scroll

@media (min-width: 752px) {
  .noevents {
    margin-top: 65%;
    margin-bottom: 15px;
  }
}
