
.helptext
  margin-top 30px

.classesBody
  margin-top 10px

.classItem
  margin-left 10px

.subgroup
  margin-left 30px

.loading
  margin-top 10px

.nav-pills .dragging a
  background-color #C0C0C0 !important
