.groupContainer
  padding: 5px !important
  margin: 0px

.classList
  -webkit-border-radius 0px !important
  -moz-border-radius 0px !important
  border-radius 0px !important
  margin 0

.oneClass
  border 1px solid
  border-color #ddd
  min-height 100px
  padding 0px
  text-align center
  position relative
  -webkit-transition-duration: 0.1s;
  font-size 11px
  overflow visible
  padding 3px
  padding-bottom 25px
  margin-bottom 4px

.oneClass .icon
  position absolute
  top 5px
  left 5px

.classList .activeClass
  background-color #D8D8D8

.activeSubgroup
  background-color #D8D8D8 !important

#toolIcon
  color gray
  size 9px
  margin-right 15px
  opacity 0.2
  cursor pointer

#toolIcon:hover
  opacity 1
  color black

.classSearchBar
  width 100%
  margin-bottom 0px

.greenText
  color #0B610B

.redText
  color #8A0808

#groupModal
  height 350px
  padding 2px

.groupModalDiv1
  width 69%
  margin 2px
  padding 2px
  height 330px
  float left
  display inline-block

.groupModalDiv2
  width 29%
  margin 2px
  padding 2px
  height 330px
  float left
  display inline-block

.groupModalMiddleDiv
  width 100%
  height 88%
  margin-bottom 5px !important
  
.groupModalBottomDiv1
  width 100%

.groupModalBottomDiv1 .longInput
  width 50%
  display inline

.groupModalDiv2 .groupModalBottomDiv2
  width 100%
  margin-bottom 0

.groupModalDiv2 .groupModalBottomDiv2 form
  width 100%
  margin 0px
  padding 0px

.loadingImg
  height 60px
  width 60px
  margin-top 100px

.allGroups
  margin 0px
  padding-top 15px
  margin-bottom 15px
  border-color #D8D8D8

.allGroups li
  padding 0px

.group
  padding 2px
  cursor pointer
  border 1px solid
  border-radius 4px
  font-size 10px
  color black
  margin 2px
  margin-left 2px
  background-color #fff

.greenGroup
  border-color green 

.redGroup
  border-color red 

#searchModal .searchBar
  width 100%
  height 70px
  display block
  margin 0
  margin-top 5px
  margin-bottom 5px

#searchModal .resultBar
  width 100%
  height 75%
  margin 0

#searchModal input
  width 70%
  display inline
  float left
  margin-right 5px

#searchModal select
  display inline
  float left
  margin-right 10px

#searchModal .groupBar
  margin-bottom 2px

#searchModal .groupMember
  border 1px
  margin 2px

.back
  margin-right 5px
  
.leftbuttons
  float right

.bigger
  font-size large

.vcenter
  display inline-block
  padding-top 10px

.loading
  margin-top 10px

.newGroupMember
  font-size 10px
  cursor pointer

.group .icon
  float left
  color black
  opacity 0.1

.group .icon:hover
  opacity 1

