input.form-control.input-sm(type="text", ng-disabled="classLoadWaiting",
  ng-model="model.pickedClass", placeholder="Search for a class",
  typeahead="class as class.code for class in classes | filter:$viewValue | filter:notIn | limitTo:8",
  typeahead-template-url="classTemplate.html", typeahead-on-select="chooseClass($model)")

img.center-block.loading(src="/img/loader.gif", ng-if="classLoadWaiting")

h3.helptext(ng-if="!classLoadWaiting && numGroups == 0")
  small Search for a class to join study groups

ul.classesBody.nav.nav-pills.nav-stacked(ng-if="!classLoadWaiting", ng-repeat="class in myclasses")
  li(ng-class="{active: group.id == class.props.groupid}")
    a(href, ng-click='changeGroup(class.props.groupid)') {{class.props.classcode}}
      span.badge.pull-right.hidden-sm {{class.props.unread}}
  ul.nav.nav-pills.nav-stacked.subgroup(ng-repeat="subgroup in class.subgroups")
    li(ng-class="{active: subgroup.groupid == group.id}", ng-click="changeGroup(subgroup.groupid)")
      a(href) {{subgroup.name}}
        span.badge.pull-right.hidden-sm {{subgroup.unread}}


script(type="text/ng-template", id="classTemplate.html")
  a
    span(bind-html-unsafe="match.model.name | typeaheadHighlight:query")
    small
      | &nbsp (
      span(bind-html-unsafe="match.label | typeaheadHighlight:query")
      | )
