h2 Quipu FAQ

h3 How do I make an account
p If you're reading this, then you probably have already logged in with Yale's Central Authentication System.
 | You must have a Yale account to use Quipu. If you're not at Yale, but you want to use Quipu at your school, please 
 | contact us. Next, a pop-up window should appear asking you to enter your name, residential college, and an optional picture.
 | You also have the option to give Quipu access to your Facebook account. This will help you form study groups with your friends. 
 | You may change this information at any time by clicking "Preferences" at the bottom of the screen.

h3 How do I join a group?
p To join a group which is the main group for a class, start typing the name or number of the class into the search bar in the upper-left and press return/enter when you find it. To join another public group, ....? To join a private group, ask the creator of the group (?).

h3 How do I create a group?
p Select the class or group that you want to make a subgroup of. Then, go to the "Members" tool and click the button labeled "create subgroup" in the upper-right corner.

h3 How does the events sidebar work?
p Select the class or group for which you want to see events. Double click on the right-sidebar to make an event. We'll figure out the time of the event by parsing whatever you type.

h3 How does the chat work?
p Typing in the textbox has two functions: you can type your message, and you can search previous posts. The search happens automatically, which may be disorienting at first, but you will find that it keeps the conversation organized by encouraging you to reply to relevant posts rather than scattering your posts about.

h3 How does the filesharing service work?
p Communal files are listed. Clicking a text file brings up an online editor; clicking another kind of file simply downloads it. You can upload an existing file from your computer by draggin it into the dashed box. You can create a new text file by clicking the link labeled "create a new document", which will bring you to the aforementioned text editor.

h3 Can I join a class group if I'm not in the class?
p Yes, Quipu doesn't know what classes you're officially registered for. However, you might want to check with the instructor to make sure they're cool with you being part of the class on Quipu.

h3 How do you pronounce "Quipu"?

p(id='FAQTest') The "u" is silent: KEE-poo. If you know the international phonetic alphabet, we can be more precise and say that it's ['k<sup>h</sup>ipu].

