h1 Quipu FAQ

h3 This is now the <em>FAQ</em> for Quipu. This is different from the <em>tutorial</em>, which is a very short intro message displayed in a modal, the text of which is stored in tutorial.jade.

p First, take a deep breath. 

p Let's make sure you're set up correctly. The opening page that you see has a large button labeled "log in with CAS". Clicking this will take you to Yale's Central Authentication Server where you will be verified as a Yalie. You must have a Yale account to use Quipu. If you're not at Yale, but you want to use Quipu at your school, please contact -insert contact info here-. 

p Next, a pop-up window should appear asking you to enter your name, residential college, and an optional picture. You also have the option to give Quipu access to your Facebook account. This will help you form study groups with your friends. 

p Now you're at the main page. 

h3 How do I navigate the Quipu website? What do all the different panels do?

p From your question, it seems that you're logged in and looking at the main page. If you're in doubt of that, see the previous question for help.

p The central idea of Quipu is to help you use study groups. On the left side of the page is a sidebar containing all the groups you're in. It probably looks pretty bare at the moment, because you haven't joined any groups. Everything else on the page shows intormation specific to the group that you have selected on the left. If you don't have a group selected, it will show a large calender view of all your upcoming events, except that if you're not in any gruops, there's nothing to show. So let's get you into some groups!

h3 How do I join a group? Why so many groups?

p To join a group, type the name or number of a class you're taking into the search box on the top left of the page and select your class when it appears in the menu below the search box, or just hit return/enter if the class you want is the top entry.

p Now you should find that class and all its subgroups in the left sidebar.

p Let's take a moment to talk about "classes" and "groups". Each class at Yale already has group on Quipu for general discussion of that class. There are also groups affiliated with a class for focused discussions or for a small group of people to use amongst themselves for coordinating in-person studying.

p All groups in Quipu provide the same functionallity. However, you can, and should, use different groups in different ways:

p If you join a class, you're automatically a member of the main group for that class. You can use this group to share notes, discuss the syllibus, and coordinate events. This group has the same name as the class.

p Public subgroups can be formed by users for discussing specific topics, and have names like "Problem Set 2". Anyone in the class can join these subgroups.

p Private subgroups require permission from the group's creator (??) to join. You can use these groups to coordinate a private meeting with your friends and to share notes from such a meeting without letting other students see them.

h3 What can you do in a group?

p Each group lets you: view the settings for the group, chat among the members of the group, share files among the members of the group, and schedule events for that group.

p The events for a group appear in the sidebar on the right. Selecting a group on the left will bring up the events for that group on the right. If you don't select any group, the right sidebar will expand to show an overview of events for all your groups. 

p In general, every part of the Quipu page always displays information for the group which you have selected in the left sidebar. At any point, you can click a tab at the top-right corner to swich the tool you're using and do somethign new with the same group, or you can choose another group and keep using the same tool on that new group.

h3 How does the events sidebar work?

p fill in here...

h3 How does the chat work?

p can't write this until chat is working...

h3 How does the members/settings tab work?

p same...

h3 How does the filesharing service work?

p same...


h3 Can I join a class group if I'm not in the class?

p Yes, Quipu doesn't know what classes you're registered for. However, you might want to check with the instructor to make sure they're cool with you being part of the class on Quipu.

h3 I don't have a Yale account.

p You must have a Yale account to use Quipu, sorry. If you're not at Yale, but you want to use Quipu at your school, please contact -insert contact info here-. 

h3 How do you pronounce "Quipu"?

p The "u" is silent: KEE-poo. If you know the international phonetic alphabet, we can be more precise and say that it's ['k<sup>h</sup>ipu].

p To finish, redirect
a(ng-click="done()") here
