doctype 5
html(ng-app="App", manifest="/web.appcache")
    head
        title Quipu

        link(rel="stylesheet", href="/css/vendor.css")
        link(rel='stylesheet', href="/css/main.css")

    body
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation", ng-controller="NavCtrl")
        .container
          .navbar-header
            a.navbar-brand(href ng-click="go('/bigevents')") Quipu
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li <a href ng-click="go('/members')">Members</a>
              li <a href ng-click="go('/chat')">Chat</a>
              li <a href ng-click="go('/files')">Files</a>
      .container-fluid
        .row(ng-controller="MainCtrl")
          .col-sm-2(ng-controller="GroupCtrl")
            ng-include(src="'app/main/group.jade'")
          div(ng-class="{'col-sm-8': !big, 'col-sm-10': big}")
            div(ng-view)
          div.events(ng-class="{'col-sm-2': !big, hidden: big}", ng-controller="EventsCtrl")
            ng-include(src="'app/main/events.jade'")
      .options(ng-controller="PrefCtrl") 
          a.spaced(ng-click="about()") About
          a.spaced(ng-click="setupUser()") Preferences
          a.spaced(href='/logout') Log out

      script(type="text/ng-template", id="askId")
          div.modal-header
              h3 User Information
          div.modal-body
              form(role="form", class="form-horizontal", ng-submit="dismiss()")
                  p(class="text-right")
                      a(ng-click="fbLogin()") Connect with Facebook
                  div(class="form-group")
                      label(class="col-sm-2 control-label") Full name
                      div(class="col-sm-10")
                          input(type="text", ng-model="me.name", placeholder="Full name", class="form-control")
                  div(class="form-group")
                      label(class="col-sm-2 control-label") College
                      div(class="col-sm-10")
                          input(type="text", ng-model="me.college", placeholder="College", class="form-control")
                  div(class="form-group")
                      label(class="col-sm-2 control-label")  Picture
                      div(class="col-sm-10 control-label")
                          div(class="dropbox", file-dropzone="[image/png, image/jpeg, image/gif]", file="image.unscaled", file-name="imageFileName", data-max-file-size="2")
                              span(ng-if="!me.image") Drop Image Here
                              img(ng-if="me.image", ng-src="{{me.image}}")
          div.modal-footer

      script(type="text/ng-template", id="aboutId")
          div.modal-header
              h3 About Quipu
          div.modal-body
              p Quipu is a tool to create study groups. It is open source under an MIT license:
                  | check out our code on <a href='http://github.com/bogiebro/classapp'>GitHub</a>.
                  | Feedback should be directed to quipu at gmail dot com.
          div.modal-footer
              p.smaller
                  small &copy; 2014 Sam Anklesaria, Iyob Gebremariam, Isaac Reilly,
                      | James Batchelder, Peter Nguyen, Jadon Montero

      script(src='/js/vendor.js')
      script(src='https://cdn.firebase.com/v0/firebase.js')
      script(src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js')
      script(src='/js/main.js')
      script(src='/js/app.main.templates.js')

