body { padding-top: 70px; }

.events
  height 85vh
  overflow scroll

.options
    position absolute
    bottom 10px
    right 10px

.spaced
    margin-left 10px

.vcenter
  margin-top 20%

input.searcher
  width 90%

.classesBody
  margin-top 10px

.classItem
  margin-left 10px

.subgroup
  margin-left 30px

.dropbox
    border 1px dashed
    padding 7px
    text-align center
    color gray

.smaller
    font-size small
