body { padding-top: 70px; }

.events
  height 85vh
  overflow scroll

.options
    position absolute
    bottom 10px
    right 10px

.spaced
    margin-left 10px

.loading
  margin-top 5px

.classesBody
  margin-top 10px

.classItem
  margin-left 10px

.subgroup
  margin-left 30px

.dropbox
    border 1px dashed
    padding 7px
    text-align center
    color gray

.smaller
    font-size small

.back
  margin-right 5px
  
.leftbuttons
  float right

.bigger
  font-size large

.vcenter
  display inline-block
  padding-top 10px

.pointer
  cursor pointer
