.row.mobilerow
  .pull-left
    input.form-control.input-sm(type='text', placeholder="Search members", ng-model="opts.searchtext")
  form.pull-right
    .btn-group.visible-xs
      button.btn.btn-sm(type='button', tooltip-placement="bottom", tooltip="Create subgroup", ng-if="member()", ng-click='newSubgroup()')
          span.glyphicon.glyphicon-plus
      button.btn.btn-sm(type='button', ng-if='!member()', tooltip-placement="bottom", tooltip="Join Group", ng-click='joinGroup(group.id)') 
          span.glyphicon.glyphicon-heart-empty
      button.btn.btn-sm(type='button', tooltip-placement="bottom", tooltip='Edit', ng-if='group.parent && member()', ng-click='changeName()')
          span.glyphicon.glyphicon-pencil
      button.btn.btn-sm(type='button', tooltip-placement="bottom", tooltip="Make group {{group.private ? 'public' : 'private'}}",
        ng-if='group.parent && member()', ng-click='privitize()')
          span.glyphicon(ng-class="{'glyphicon-lock': group.private, 'glyphicon-globe': !group.private}")
      button.btn.btn-sm(type='button', tooltip='Leave group', tooltip-placement="bottom", ng-if='member()', ng-click='removeUser()')
          span.glyphicon.glyphicon-trash
    .btn-group.hidden-xs
      button.btn.btn-default(type='button', ng-if="member()", ng-click='newSubgroup()') Create Subgroup
      button.btn.btn-default(type='button', ng-if='!member()', ng-click='joinGroup(group.id)') Join group
      button.btn.btn-default(type='button', tooltip-placement="bottom", tooltip='Edit', ng-if='group.parent && member()', ng-click='changeName()')
          span.glyphicon.glyphicon-pencil
      button.btn.btn-default(type='button', tooltip-placement="bottom", tooltip="Make group {{group.private ? 'public' : 'private'}}",
        ng-if='group.parent && member()', ng-click='privitize()')
          span.glyphicon(ng-class="{'glyphicon-lock': group.private, 'glyphicon-globe': !group.private}")
      button.btn.btn-default(type='button', id="remover", tooltip='Leave group', tooltip-placement="bottom", ng-if='member()', ng-click='removeUser()')
          span.glyphicon.glyphicon-trash
.row
  span(ng-repeat="usr in users[group.id] | userify: info | filter: opts.searchtext")
    div.picsquare(ui-draggable='true', drag='usr.netid')
      img(ng-class="{'img-rounded': !opts.selected[usr.netid], 'img-thumbnail': opts.selected[usr.netid]}",
        ng-src="{{usr.pic || '/img/anonymous.jpeg'}}", width='80', height='60', ng-click="opts.selected[usr.netid] = !opts.selected[usr.netid]")
      p
        small {{usr.name}}
div(ng-if="group.parent")
  h2.text-center.draginfo <small>Drag users from the main group to add members</small>
div(ng-if="!group.parent")
  h2.text-center.draginfo <small>Drag users to subgroups in the sidebar to add members</small>
  p.subgroups Subgroups:
    span.label.label-default.subgrouplabel(ng-repeat="subgroup in subgroups", ng-click="setGroup(subgroup.groupid)")
      | {{subgroup.name}}

script(type='text/ng-template', id='changeNameId')
  div.modal-header
    h3 Set group name
  div.modal-body
    form(ng-submit='setName(group.name)')
      .input-group
        input.form-control(type="text", ng-model='newprops.name')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='setName(group.name)') update 
