.row
  .pull-left
    input.form-control.input-sm(type='text', placeholder="Search members", ng-model="my.searchtext")
  form.pull-right
    .btn-group
      button.btn.btn-default(type='button', ng-if="member()", ng-click='newSubgroup()') Create Subgroup
      button.btn.btn-default(type='button', ng-if='!member()', ng-click='joinGroup(group.id)') Join group
      button.btn.btn-default(type='button', ng-if='group.parent && member()', ng-click='changeName()')
          span.glyphicon.glyphicon-pencil
      button.btn.btn-default(type='button', ng-if='group.parent && member()', ng-click='privitize()')
        span.glyphicon(ng-class="{'glyphicon-lock': group.private, 'glyphicon-globe': !group.private}")
      button.btn.btn-default(type='button', ng-if='member()', ng-click='removeUser()')
          span.glyphicon.glyphicon-trash
.row
  span(ng-repeat="usr in users[group.id] | userify: info | filter: my.searchtext")
    div.picsquare
      img(ng-class="{'img-rounded': !selected[usr.netid], 'img-thumbnail': selected[usr.netid]}",
        ng-src="{{usr.pic || '/img/anonymous.jpeg'}}", width='80', height='60', ng-click="selected[usr.netid] = !selected[usr.netid]")
      p
        small {{usr.name}}
div(ng-if="group.parent")
  h2.text-center.draginfo <small>Drag users from the main group to add members</small>
div(ng-if="!group.parent")
  h2.text-center.draginfo <small>Drag users to subgroups in the sidebar to add members</small>
  p.subgroups Subgroups:
    span.label.label-default.subgrouplabel(ng-repeat="subgroup in subgroups", ng-click="setGroup(subgroup.groupid)")
      | {{subgroup.name}}

script(type='text/ng-template', id='changeNameId')
  div.modal-header
    h3 Set Group Name
  div.modal-body
    form(ng-submit='setName(group.name)')
      .input-group
        input.form-control.input-lg(type="text", ng-model='newprops.name')
        span.input-group-btn
          button.btn.btn-lg(type='button', ng-click='setName(group.name)') update 
