.membersWorkspace
	margin-top 20px

.membersContainer
	padding 5px

.groupEdit
	min-height 200px

.membersList, .selectedList
	width 45%
	float left
	margin-left 5px
	padding 3px

.allMembers, .selectedMembers
	min-height 200px

.shortInput, .actionBtns
	margin-right 5px
	width 100%

.groupInfo
	clear both
	margin-top 100px
	width 100%

.memberLi
	cursor pointer

.memToolSet
	float right

.memToolSet .icon
	color black
	opacity 0.1
	margin-right 5px
	
.memToolSet .icon:hover
	opacity 1

.shortInput
	width 30%

.mediumInput
	width 65%

.inlineElem
	display inline

.invalidInput
	background-color red

.memButton
	margin-top 5px

.newGroupForm
	margin 0
	margin-bottom 5px
	display block

.tallSelect
	height 20px

