p Go to the upper-left corner and type in the search bar to
                  | find your classes, then press return/enter to join them.
              p   You are now ready to unleash the full power of Quipu!
              p  
                  |  You can switch between groups by clicking them on the 
                  | left sidebar. At the moment, your only groups are the main groups for 
                  | each of the classes that you just joined. There also exist smaller, more focused subgroups. 
                  | These subgroups may be public or private. Public groups tend to be used for discussing a narrow
                  | topic, while private groups tend to be used for organizing a fixed set of students as they 
                  | collaborate, meet to study in person, and share notes.

              p     For every group you're a member of, Quipu offers four tools. The first is the calendar of events,
                  | which always appears on the right side of the window and displays events only for the currently
                  | selected group, with the exception that if no group is selected, 
                  | then the events calendar expands to fill the window and 
                  | displays events for every group you're a member of. The middle of the window is usually
                  | occupied by one of the other three tools, which you can switch between by
                  | selecting them in the top bar: 
                  ul 
                      li Members: you can view the members
                          | of a group, modify the membership and other group properties
                          | of a group that you control, and create new subgroups.
                      li Chat: members of each group may talk among themselves.
                      li Files: members of each group may share files among themselves.
              p If you have any further questions about using Quipu, you may consult the FAQ at any time by clicking
                  | the link in the footer. This overview may also be found in the FAQ under "Wait, how does Quipu work
                  | again?"
