p Go to the upper-left corner and type in the search bar to
                  | find your classes and press return/enter to join them.
              p
                  | Now, you can switch between groups by clicking them on the 
                  | left sidebar. At the moment, the only groups are the main groups for 
                  | each of the classes that you just joined. You can more focused subgroups 
                  | later. Also, now that you have joined some groups, you can use the tools
                  | offered by Quipu by selecting them in the top bar: 
                  ul 
                      li Members: you can view the members
                          | of a group, and modify the membership and other group properties
                          | of a group that you control (??)
                      li Chat: members of each group may talk among themselves.
                      li Files: members of each group may share files among themselves.
              p If you have any further questions about using Quipu, consult the FAQ by clicking
                  | the link in the footer.
