p Use the search bar in the upper left corner to find your classes, and hit enter
  | to join them. You can switch between groups by clicking them on the left sidebar.
p Once you're in a group, you can make smaller, more focused subgroups.
  | These subgroups may be public or private. Public groups tend to be used for discussing a narrow
  | topic, while private groups tend to be used for organizing a fixed set of students as they 
  | collaborate, meet to study in person, and share notes.
p For every group you're a member of, Quipu offers four tools:
ul
  li <b>Events</b> appear on the right side of the window
  li <b>Members</b> shows you who is in each group, and allows you to make subgroups
  li <b>Chat</b> allows you to talk to others in your group
  li <b>Files</b> stores all the files your group members have uploaded
